<!doctype html>

<html>

	<div class="panel {{postCategory}} postSnippet" data-cat="{{postCategory}}" data-title="{{postTitle}}" data-info="{{postInfo}}" data-full="{{fullPost}}">
	  <div class="panel-heading">
		<h3 class="panel-title">{{postTitle}}</h3>
		  </div>
	  <div class="panel-body">
	    {{postInfo}}
	     <br><a id="expandPost" href="/">Expand</a>
	  </div>
	</div>

</html>
